@model string

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1>An Error Occurred</h1>
    <p>@Model</p>
    <form method="post" action="javascript:history.back()">
        <button type="submit">Back</button>
    </form>
</body>
</html>
