@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
    var isAuthenticated = User.Identity!.IsAuthenticated;
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">Here you can find your nurse, who will help you with any medical procedure performed at your home.</p>

    @if (!isAuthenticated){
        <div class="mt-4">
            <a href="/Identity/Account/Login" class="btn btn-primary btn-lg">
                Login
            </a>
            <span class="text-muted">or</span>
            <a href="/Identity/Account/Register" class="btn btn-primary btn-lg">
                Register
            </a>
        </div>
    }
    
    <div class="mt-4">
        <a href="/Manipulations" class="btn btn-secondary btn-lg">
            View Medical Procedures
        </a>
        <p class="text-muted mt-2">
            Learn more about the medical procedures we offer and schedule one for your home.
        </p>
    </div>
</div>
